:root {
  --exitTransitionDelay: 300ms;
  --sideBarOverlayHeight: 224px;
  --transitionDuration: 500ms;
}

/* SideBarOverlay */
.sidebaroverlay-enter {
  height: 0px;
}
.sidebaroverlay-enter-active {
  --h: var(--sideBarOverlayHeight);
  
  height: var(--h);
  transition: all var(--transitionDuration) ease-in-out;
}
.sidebaroverlay-exit {
  --h: var(--sideBarOverlayHeight);
  
  height: var(--h);
}
.sidebaroverlay-exit-active {
  height: 0px;
  transition: all var(--transitionDuration) ease-in-out var(--exitTransitionDelay);
}